@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes test {}
a {
  text-decoration: none;
  color: unset;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
main .page-area {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 1100px;
  margin-top: 40px;
}
main .page-area .page {
  font-size: 16px;
  font-family: "Noto Sans TC";
}
main .page-area .page a {
  text-decoration: none;
  font-family: "Noto Sans TC";
  color: #000;
  border-bottom: 2px solid transparent;
}
main .page-area .page a:hover {
  border-bottom: solid #8DD7CC;
  transition: 0.1s linear;
}
main .hr-head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 118px 0 49px;
  margin: auto;
}
main .hr-head p {
  font-size: 24px;
  font-weight: bold;
  font-family: none;
  color: black;
  font-family: "Noto Serif TC";
  font-weight: 700;
}
main .hr-head p::before {
  content: "———";
}
main .hr-head p::after {
  content: "———";
}
main .news-container {
  width: 1090px;
  height: 100%;
  margin: 91px auto 221px;
}
main .news-container .news-card {
  width: 100%;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid rgb(141, 215, 204);
}
main .news-container .news-card + .news-card {
  margin-top: 150px;
}
main .news-container .news-card .news-info {
  width: 555px;
  height: 402px;
}
main .news-container .news-card .news-info .news-date {
  width: 95px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(141, 215, 204);
  transform: translate(50%, 0);
  font-family: "Noto Serif TC";
  font-weight: 500;
}
main .news-container .news-card .news-info .news-text {
  width: 453px;
  height: 155px;
  margin: 90px 0 22px 10%;
}
main .news-container .news-card .news-info .news-text .news-text-title {
  width: 80%;
  height: 20px;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
main .news-container .news-card .news-info .news-text .new-text-content {
  width: 440px;
  height: 94px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .news-container .news-card .news-info .news-date-duration-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  width: 100%;
  height: 17px;
}
main .news-container .news-card .news-info .news-date-duration-box .news-date-duration {
  width: 160px;
  height: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
main .news-container .news-card .news-info .news-date-duration-box .news-btn-area {
  width: 45%;
  height: 17px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px;
  color: rgb(141, 215, 204);
  padding-right: 10px;
}
main .news-container .news-card .news-info .news-date-duration-box .news-btn-area a {
  width: 80px;
}
main .news-container .news-card .news-info .news-date-duration-box .news-btn-area a:hover {
  transform: translateX(2em);
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: linear;
}
main .news-container .news-card .news-info .news-date-duration-box .news-btn-area a span {
  width: 300px;
  font-size: 30px;
}
main .news-container .news-card .news-img {
  width: 535px;
  height: 398px;
}
main .news-container .news-card .news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .news-container .news-card .news-img .news-img-date {
  opacity: 0;
  width: 95px;
  height: 50px;
  background-color: rgb(141, 215, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  overflow: hidden;
}

@media (max-width: 1280px) {
  main .page-area {
    width: 99%;
    padding: 0 5%;
  }
  main .page-area .page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1240px) {
  main .news-container {
    width: 90%;
    height: 100%;
  }
  main .news-container .news-card .news-info {
    width: 50%;
  }
  main .news-container .news-card .news-info .news-text {
    width: 90%;
    height: 155px;
  }
  main .news-container .news-card .news-info .news-text .new-text-content {
    width: 90%;
  }
  main .news-container .news-card .news-img {
    width: 50%;
  }
}
@media (max-width: 720px) {
  main .page-area {
    display: none;
  }
  main .phone_title {
    padding: 78px 0 43px;
  }
  main .news-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding-bottom: 78px;
  }
  main .news-container .news-card {
    width: 360px;
    height: 450px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  main .news-container .news-card + .news-card {
    margin-top: 50px;
  }
  main .news-container .news-card .news-info {
    width: 90%;
    height: 180px;
  }
  main .news-container .news-card .news-info .news-date {
    opacity: 0;
  }
  main .news-container .news-card .news-info .news-text {
    margin: 23px 0 23px 30px;
    transform: translateY(-35%);
  }
  main .news-container .news-card .news-info .news-text .news-text-title {
    height: 20px;
    margin-bottom: 23px;
    font-size: 16px;
    line-height: 20px;
  }
  main .news-container .news-card .news-info .news-text .new-text-content {
    width: 95%;
    height: 61px;
    font-size: 14px;
    -webkit-line-clamp: 3;
  }
  main .news-container .news-card .news-info .news-date-duration-box {
    width: 95%;
    height: 17px;
    transform: translateY(-300%);
    padding: 11px 0px 26px 30px;
  }
  main .news-container .news-card .news-img {
    width: 100%;
    height: 270px;
    position: relative;
  }
  main .news-container .news-card .news-img img {
    height: 270px;
  }
  main .news-container .news-card .news-img .news-img-date {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 10%;
  }
}/*# sourceMappingURL=news.css.map */