@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes test {}
main {
  position: relative;
  width: 100%;
}
main .page-area {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  justify-content: End;
  align-items: center;
}
main .page-area .page {
  padding: 0 5% 0;
  font-size: 16px;
  font-family: "Noto Sans TC";
}
main .page-area .page a {
  text-decoration: none;
  font-family: "Noto Sans TC";
  color: #000;
  border-bottom: 2px solid transparent;
}
main .page-area .page a:hover {
  border-bottom: solid black;
  transition: 0.1s linear;
}
main .hr-head {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 118px 0 49px;
  margin: auto;
}
main .hr-head p {
  font-size: 24px;
  font-weight: bold;
  font-family: none;
  color: black;
  font-family: "Noto Serif TC";
  font-weight: 700;
}
main .hr-head p::before {
  content: "———";
}
main .hr-head p::after {
  content: "———";
}
main .product-sheet-area {
  width: 961px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 60px 72px;
}
main .product-sheet-area .product-series {
  width: 120px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: none;
  font-family: "Inter";
  color: black;
}
@media screen and (max-width: 720px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
}
main .product-card-area {
  width: 1000px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  margin: auto;
}
main .product-card-area .product-card {
  width: 275px;
  height: auto;
}
main .product-card-area .product-card:hover .img-container {
  transition-duration: 0.5s;
  transition-delay: 0s;
  transition-timing-function: linear;
  transform: scale(1.1);
}
main .product-card-area .product-card .img-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
}
main .product-card-area .product-card .img-container img {
  width: 100%;
  height: 100%;
}
main .product-card-area .product-card .product-name {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0 56px;
  text-align: center;
}
main .product-card-area .product-card .product-name h3 {
  width: 100%;
  height: 50px;
  font-size: 14px;
  font-family: "Noto Sana serif";
}
@media screen and (max-width: 720px) {
  main .product-card-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: space-between;
  }
  main .product-card-area .product-card {
    width: 165px;
    height: auto;
  }
  main .product-card-area .product-card .img-container {
    width: auto;
    height: auto;
  }
  main .product-card-area .product-card .img-container img {
    object-fit: contain;
  }
  main .product-card-area .product-card .product-name {
    width: 100%;
    height: auto;
    padding: 17px 0 46px;
    margin: 0;
    text-align: center;
  }
}
main #order-btn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0 110px;
}
main #order-btn a {
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 15px;
  background-color: #eeb8af;
}
@media screen and (max-width: 720px) {
  main #order-btn {
    padding: 9px 0 50px;
  }
}
main .product-detail-area {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
main .product-detail-area .product-detail-opacity {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: gray;
}
main .product-detail-area .product-detail-card-container {
  width: 580px;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 6;
}
main .product-detail-area .product-detail-card-container .product-detail-card {
  width: 100%;
  height: auto;
  position: relative;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-close {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 25px;
  color: white;
  z-index: 5;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img {
  width: 580px;
  height: 335px;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 43px 23px;
  font-size: 18px;
  font-weight: bold;
}
main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-content {
  margin: 0 41px 33px;
  padding: 7px 16px 27px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 720px) {
  main .product-detail-area .product-detail-card-container {
    width: 300px;
    height: auto;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-close {
    top: 12px;
    right: 12px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img {
    width: 300px;
    height: 250px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-name {
    padding: 27px 0 14px;
    font-size: 14px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-content {
    margin: 0 22px 70px;
    text-align: center;
  }
}

.block-display {
  display: block !important;
}

.block-hidden {
  display: none !important;
}

.bg-pink {
  background-color: #eeb8af;
}

.bg-white {
  background-color: white;
}

@media screen and (min-width: 851px) and (max-width: 1100px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
  main .product-card-area {
    width: 80%;
    height: auto;
  }
  main .product-card-area .product-card {
    width: 275px;
    height: auto;
    margin: 0 10px;
  }
}
@media screen and (min-width: 721px) and (max-width: 850px) {
  main .product-sheet-area {
    width: 80%;
    height: auto;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
  }
  main .product-card-area {
    width: 80%;
    height: auto;
  }
  main .product-card-area .product-card {
    width: 200px;
    height: auto;
    margin: 0 30px;
  }
  main .product-card-area .product-card .img-container {
    width: auto;
    height: auto;
  }
  main .product-card-area .product-card .img-container img {
    object-fit: contain;
  }
}
@media screen and (max-width: 720px) {
  main .page-area {
    display: none;
  }
  main .hr-head p {
    font-size: 18px;
    font-weight: 700;
  }
  main .product-sheet-area {
    width: 80%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .product-sheet-area .product-series {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
  main #order-btn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0 50px;
  }
  main #order-btn a {
    width: 125px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 10px;
    background-color: #eeb8af;
  }
  main .product-detail-area .product-detail-card-container {
    width: 300px;
    height: 450px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-img {
    width: 300px;
    height: 250px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text {
    width: 300px;
    height: 200px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-name {
    width: 153px;
    height: 17px;
    font-size: 14px;
  }
  main .product-detail-area .product-detail-card-container .product-detail-card .product-detail-text .product-detail-content {
    width: 256px;
    height: 72px;
    font-size: 14px;
  }
}/*# sourceMappingURL=product.css.map */